vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Jan 2011 00:54:24 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Refre-PC\\Refre
vti_modifiedby:SR|Refre-PC\\Refre
vti_timecreated:TR|30 Jan 2011 00:54:24 -0000
vti_cacheddtm:TX|30 Jan 2011 00:54:24 -0000
vti_filesize:IR|4519
vti_cachedlinkinfo:VX|S|images/img01.jpg S|images/img02.jpg S|images/img02.jpg S|images/img02.jpg S|images/img03.gif S|images/img04.gif S|images/img05.gif S|images/img05.jpg S|images/img06.jpg S|images/img01.jpg
vti_cachedsvcrellinks:VX|FSUS|back/images/img01.jpg FSUS|back/images/img02.jpg FSUS|back/images/img02.jpg FSUS|back/images/img02.jpg NSUS|back/images/img03.gif NSUS|back/images/img04.gif NSUS|back/images/img05.gif FSUS|back/images/img05.jpg FSUS|back/images/img06.jpg FSUS|back/images/img01.jpg
vti_backlinkinfo:VX|back/realisations.html back/contact.html back/realisation.html back/ressources.html back/domaine.html back/index.html
