vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Aug 2013 15:55:04 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|services.html contact.html partenaire.html index-2.html index-3.html index-4.html index-5.html index-1.html search.php folio.html 404.html index.html media.html
vti_author:SR|REFRE-MOBILENEW\\Johnny
vti_modifiedby:SR|REFRE-MOBILENEW\\Johnny
vti_timecreated:TR|23 Aug 2013 15:55:04 -0000
vti_cacheddtm:TX|23 Aug 2013 15:55:04 -0000
vti_filesize:IR|36740
vti_cachedlinkinfo:VX|S|../img/bg.jpg S|../img/magnifier.png S|../img/marker.gif S|../img/totop.png S|../img/bg-2.jpg S|../img/bg-3.jpg S|../img/menu-marker.gif S|../img/menu-marker.gif S|../img/pags.png S|../img/pags.png S|../img/pags.png S|../img/bg-4.jpg S|../img/block-1.jpg S|../img/line.gif S|../img/blockquote.png S|../img/form-1-bg.png
vti_cachedsvcrellinks:VX|FSUS|img/bg.jpg NSUS|img/magnifier.png FSUS|img/marker.gif FSUS|img/totop.png FSUS|img/bg-2.jpg FSUS|img/bg-3.jpg FSUS|img/menu-marker.gif FSUS|img/menu-marker.gif FSUS|img/pags.png FSUS|img/pags.png FSUS|img/pags.png FSUS|img/bg-4.jpg FSUS|img/block-1.jpg FSUS|img/line.gif FSUS|img/blockquote.png FSUS|img/form-1-bg.png
