vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Dec 2011 19:07:31 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Refre-PC\\Refre
vti_modifiedby:SR|Refre-Mobile\\Refre
vti_timecreated:TR|31 Jan 2011 22:59:25 -0000
vti_backlinkinfo:VX|services.html contact.html PromoFev.html PromoApril.html promoMai.html evenements.html emploi.html promoOct.html index.html PuitEnSocks.dwt promo.html magasin.html PromoMars.html promoJune.html
vti_nexttolasttimemodified:TW|22 Dec 2011 18:29:18 -0000
vti_cacheddtm:TX|22 Dec 2011 18:29:18 -0000
vti_filesize:IR|4869
vti_cachedlinkinfo:VX|S|Images/logocarrefour2.jpg S|images/img01.jpg
vti_cachedsvcrellinks:VX|FSUS|Images/logocarrefour2.jpg FSUS|images/img01.jpg
