vti_encoding:SR|utf8-nl
vti_author:SR|Refre-Mobile\\Refre
vti_modifiedby:SR|Refre-Mobile\\Refre
vti_timelastmodified:TR|10 Jun 2012 12:46:28 -0000
vti_timecreated:TR|31 May 2012 21:30:59 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|prestations-fr.html tarifs-fr.html contact-fr.html cloudpix.dwt index.html services-fr.html gallerie-fr.html
vti_nexttolasttimemodified:TW|10 Jun 2012 12:45:23 -0000
vti_cacheddtm:TX|10 Jun 2012 12:46:28 -0000
vti_filesize:IR|7711
vti_cachedlinkinfo:VX|S|images/headerbg.png S|images/Logo.png S|images/menu2.png S|images/Web-Facebook-Metro-icon-64-gray.png S|images/Web-Facebook-Metro-icon-64.png S|images/Web-Twitter-Metro-icon-64-gray.png S|images/Web-Twitter-Metro-icon-64.png S|images/Logo-Grey-300px.png
vti_cachedsvcrellinks:VX|FSUS|images/headerbg.png FSUS|images/Logo.png FSUS|images/menu2.png FSUS|images/Web-Facebook-Metro-icon-64-gray.png FSUS|images/Web-Facebook-Metro-icon-64.png FSUS|images/Web-Twitter-Metro-icon-64-gray.png FSUS|images/Web-Twitter-Metro-icon-64.png FSUS|images/Logo-Grey-300px.png
