vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jun 2015 09:43:34 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|css/style.css
vti_author:SR|REFRE-MOBILE\\Johnny
vti_modifiedby:SR|REFRE-MOBILE\\Johnny
vti_timecreated:TR|20 Jun 2015 09:43:34 -0000
vti_cacheddtm:TX|20 Jun 2015 09:43:34 -0000
vti_filesize:IR|2565
vti_cachedlinkinfo:VX|S|../images/touchtouch/bg_transparent.png S|../images/touchtouch/preloader.gif S|../images/touchtouch/arrows.png
vti_cachedsvcrellinks:VX|FSUS|images/touchtouch/bg_transparent.png FSUS|images/touchtouch/preloader.gif FSUS|images/touchtouch/arrows.png
