vti_encoding:SR|utf8-nl
vti_author:SR|Refre-Mobile\\Refre
vti_modifiedby:SR|Refre-Mobile\\Refre
vti_timelastmodified:TR|18 Dec 2011 09:02:33 -0000
vti_timecreated:TR|17 Dec 2011 18:29:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contactFR.html productFR.html servicesFR.html portfolioEN.html indexEN.html productEN.html contactEN.html servicesEN.html evolveReal.dwt index.html portfolioFR.html
vti_nexttolasttimemodified:TW|17 Dec 2011 19:24:34 -0000
vti_cacheddtm:TX|17 Dec 2011 19:24:34 -0000
vti_filesize:IR|1613
vti_cachedlinkinfo:VX|S|Image/Menu/001-Acceuil-Other.jpg S|Image/Menu/002-Acceuil-Other.jpg S|Image/Menu/011-Services.jpg S|Image/Menu/020-Portfolio-all.jpg S|Image/Menu/032-Product-All.jpg S|Image/Menu/031-Product-German.jpg S|Image/Menu/033-Product-Francais.jpg S|Image/Menu/041-Contact-All.jpg S|Image/Menu/042-Contact-german.jpg
vti_cachedsvcrellinks:VX|FSUS|Image/Menu/001-Acceuil-Other.jpg FSUS|Image/Menu/002-Acceuil-Other.jpg FSUS|Image/Menu/011-Services.jpg FSUS|Image/Menu/020-Portfolio-all.jpg FSUS|Image/Menu/032-Product-All.jpg FSUS|Image/Menu/031-Product-German.jpg FSUS|Image/Menu/033-Product-Francais.jpg FSUS|Image/Menu/041-Contact-All.jpg FSUS|Image/Menu/042-Contact-german.jpg
