vti_encoding:SR|utf8-nl
vti_author:SR|Refre-Mobile\\Refre
vti_modifiedby:SR|Refre-Mobile\\Refre
vti_timelastmodified:TR|18 Dec 2011 11:34:20 -0000
vti_timecreated:TR|16 Nov 2011 13:30:14 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|productFR.html contactFR.html servicesFR.html portfolioEN.html contactEN.html productEN.html indexEN.html evolveReal.dwt index.html servicesEN.html portfolioFR.html
vti_nexttolasttimemodified:TW|18 Dec 2011 09:19:08 -0000
vti_cacheddtm:TX|18 Dec 2011 09:19:08 -0000
vti_filesize:IR|3748
vti_cachedlinkinfo:VX|S|Image/evolve200.png S|img/stripe.gif S|img/nav.gif S|img/nav.gif S|img/nav_hover.gif S|img/bgh1.gif
vti_cachedsvcrellinks:VX|FSUS|Image/evolve200.png NSUS|img/stripe.gif NSUS|img/nav.gif NSUS|img/nav.gif NSUS|img/nav_hover.gif NSUS|img/bgh1.gif
